<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        

    
    <!-- <link rel="icon" href="./favicon.png"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<body>
  <header>

  </header>
  <div>
    <a class = "title_menu" href="/market">Market</a>
  </div>
  
  {{{ body }}}
  <div style="background-color: white;">
    <h1>.</h1>
  </div>
</body>

</html>